/* ---------Global-------- */
ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --brand-color: #212121;
  --bluebrand-color: #2196f3;
  --discription-color: #757575;
  --clients-color: #afb1b8;
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --brandwhite: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background-color: var(--brandwhite);
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------HEADER--------- */

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.studio-nav {
  display: flex;
  gap: 50px;
}

.contact-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.header-logo {
  color: #000000;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logospan {
  color: var(--bluebrand-color);
}

.nav-link {
  color: var(--brand-color);
  font-weight: 500;
  line-height: 1.14;
  padding: 32px 0;
  display: block;
  position: relative;
  transition: color var(--transition-animation);
}

.nav-list {
  letter-spacing: 0.02em;
}

.contact-list {
  display: flex;
  letter-spacing: 0.02em;
  margin-left: 50px;
}

.active-link {
  color: var(--bluebrand-color);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
}

.nav-link.active-link::after,
.nav-link:hover::after,
.na-link:focus::after {
  background-color: var(--bluebrand-color);
}

.mlink,
.tlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  transition: color var(--transition-animation);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.mlink:hover,
.mlink:focus,
.mlink:active,
.tlink:hover,
.tlink:active,
.tlink:focus {
  color: var(--bluebrand-color);
}

.mlink-icon,
.tlink-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill var(--transition-animation);
}

.mlink:hover .mlink-icon,
.mlink:focus .mlink-icon,
.mlink:active .mlink-icon,
.tlink:hover .tlink-icon,
.tlink:active .tlink-icon,
.tlink:focus .tlink-icon {
  fill: var(--bluebrand-color);
}

/* -------PROMO------- */

.promo {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/promo-img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  color: var(--brandwhite);
  margin: 0 auto;
  display: flex;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0;
  max-width: 1600px;
}

.promo-txt {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
}

.promo-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--bluebrand-color);
  color: var(--brandwhite);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-animation);
}

.promo-button:hover,
.promo-button:focus,
.promo-button:active {
  background-color: #188ce8;
  border: 0;
}

/* --------SKILL SECTION-------- */

.skills-list {
  display: flex;
}

.skill-item:not(:last-child) {
  margin-right: 30px;
}
.skill-icon {
  margin: 25px 100px;
}
.skill-icon-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.skill {
  font-weight: 700;
  line-height: 1.14;
  color: var(--brand-color);
  padding-bottom: 10px;
}
.skill-description {
  line-height: 1.71;
  color: var(--discription-color);
}

/* --------ABOUT US------- */

.about {
  padding-top: 0;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about-item {
  position: relative;
}
.about-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--brandwhite);
  background: #2f303acc;
}

.team {
  background-color: #f5f4fa;
  padding-top: 0;
}

.we-are {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 32px;
  gap: 10px;
  width: 206px;
  height: 44px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-animation), fill var(--transition-animation);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--bluebrand-color);
}
.social-link:hover .team-social-icon,
.social-link:focus .team-social-icon {
  fill: var(--brandwhite);
}
.team-social-icon {
  fill: var(--clients-color);
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--brandwhite);
}

.team-member-info {
  padding: 30px 0px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 10px;
}

.rank {
  font-size: 16px;
  line-height: 19px;
  color: var(--discription-color);
  text-align: center;
  margin-bottom: 16px;
}

/* ---------CLIENTS--------- */

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--brand-color);
  text-align: center;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--clients-color);
  transition: border-color var(--transition-animation);
}

.client-icon {
  fill: var(--clients-color);
  transition: fill var(--transition-animation);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--bluebrand-color);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--bluebrand-color);
}

/* --------FOOTER------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--brandwhite);
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.address {
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}

.footer-list {
  margin-bottom: 9px;
}
.footer-list:last-child {
  margin-bottom: 0;
}

.address-map {
  color: var(--brandwhite);
  line-height: 1.71;
  transition: color var(--transition-animation);
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
  transition: color var(--transition-animation);
}

.address-map:hover,
.address-map:focus,
.address-mail:hover,
.address-tel:hover,
.address-mail:focus,
.address-tel:focus {
  color: var(--bluebrand-color);
}

.footer-social-text {
  text-transform: uppercase;
  color: var(--brandwhite);
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 70px;
  margin-right: 93px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--brandwhite);
  transition: background-color var(--transition-animation);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--bluebrand-color);
}

.footer-feedback-title {
  color: var(--brandwhite);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-feedback-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer-feedback-input {
  display: flex;
  justify-content: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--brandwhite);
  transition: border-color var(--transition-animation);
}
.footer-feedback-input:hover {
  border-color: var(--bluebrand-color);
}

.footer-feedback-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  gap: 10px;
  background: var(--bluebrand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brandwhite);
}

.footer-feedback-button-icon {
  width: 24px;
  height: 24px;
  display: block;
  fill: var(--brandwhite);
}

.list {
  list-style-type: none;
}

/* ---------MODAL-------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility var(--transition-animation), opacity var(--transition-animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--brandwhite);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--brandwhite);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.modal-button:focus,
.modal-button:hover,
.modal-button:active {
  fill: var(--bluebrand-color);
}

.modal-callback-form {
  display: flex;
  position: relative;
  flex-direction: column;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.modal-form-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--discription-color);
  margin-bottom: 4px;
  display: block;
}

.callback-form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 16px;
  transition: border-color var(--transition-animation);
  outline: none;
}
.callback-form-input:hover {
  border-color: var(--bluebrand-color);
}
.callback-form-input:focus {
  border-color: var(--bluebrand-color);
}
.callback-form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--brand-color);
  transition: fill var(--transition-animation);
}
.callback-form-input:hover + .callback-form-icon {
  fill: var(--bluebrand-color);
}
.callback-form-input:focus + .callback-form-icon {
  fill: var(--bluebrand-color);
}

.modal-user-feedback {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-animation);
  margin-bottom: 20px;
  outline: none;
}
.modal-user-feedback:hover,
.modal-user-feedback:focus,
.modal-user-feedback:active {
  border-color: var(--bluebrand-color);
}

.modal-accept-policy {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.checkbox-icon-wrap {
  border: 2px solid var(--brand-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  transition: background-color var(--transition-animation);
}

.checkbox:checked + .checkbox-icon-wrap {
  background-color: var(--bluebrand-color);
  border-color: transparent;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  opacity: 0;
}

.accept-policy-terms {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--discription-color);
}

.terms {
  color: var(--bluebrand-color);
  border-bottom: 1px solid var(--bluebrand-color);
}

.modal-callback-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brandwhite);
  margin-bottom: 30px;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
  text-align: center;
}

/* -------PORTFOLIO------- */

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 8px 50px 8px;
}

.filter-item {
  margin-right: 10px;
}

.filter-button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-animation), background-color var(--transition-animation),
    box-shadow var(--transition-animation);
}

.filter-item:last-child {
  margin-right: 0px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--bluebrand-color);
  color: var(--brandwhite);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  display: block;
  border-bottom: 1px solid;
  border-color: #eeeeee;
  transition: box-shadow var(--transition-animation);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay-text,
.project-link:focus .project-overlay-text {
  transform: translateY(0%);
}

.project-item-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--brandwhite);
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-animation);
}

.project-card-border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color);
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--discription-color);
}
